# Python Tuples

Tuples are used to store multiple items in a single variable.

Tuple is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Set, and Dictionary, all with different qualities and usage.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [1]:
mytuple = ("apple", "banana", "cherry")

In [2]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

##### Tuple Items

Tuple items are ordered, unchangeable, and allow duplicate values.

Tuple items are indexed, the first item has index [0], the second item has index [1] etc.

##### Ordered

When we say that tuples are ordered, it means that the items have a defined order, and that order will not change.

##### Unchangeable

Tuples are unchangeable, meaning that we cannot change, add or remove items after the tuple has been created.

##### Allow Duplicates

Since tuples are indexed, they can have items with the same value:

In [3]:
thistuple = ("apple", "banana", "cherry", "apple", "cherry")
print(thistuple)

('apple', 'banana', 'cherry', 'apple', 'cherry')

In [4]:
#To determine how many items a tuple has, use the len() function:
thistuple = ("apple", "banana", "cherry")
print(len(thistuple))

3

In [9]:
#To create a tuple with only one item, you have to add a comma after the item, otherwise Python will not recognize it as a tuple.
thistuple = ("apple",)
print(type(thistuple))

#NOT a tuple
thistuple = ("apple")
print(type(thistuple))

<class 'tuple'>
<class 'tuple'>

In [6]:
#tuple data types
tuple1 = ("apple", "banana", "cherry")
tuple2 = (1, 5, 7, 9, 3)
tuple3 = (True, False, False)

In [7]:
tuple1 = ("abc", 34, True, 40, "male")

In [8]:
#It is also possible to use the tuple() constructor to make a tuple.
thistuple = tuple(("apple", "banana", "cherry")) # note the double round-brackets
print(thistuple)

('apple', 'banana', 'cherry')

In [12]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[3])

IndexError: tuple index out of range

In [14]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[-2])

banana

In [11]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[2:5])

('cherry', 'orange', 'kiwi')

In [15]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[4:])

('kiwi', 'melon', 'mango')

In [13]:
thistuple = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(thistuple[-4:-1])

('orange', 'kiwi', 'melon')

In [14]:
#To determine if a specified item is present in a tuple use the in keyword:
thistuple = ("apple", "banana", "cherry")
if "apple" in thistuple:
  print("Yes, 'apple' is in the fruits tuple")

Yes, 'apple' is in the fruits tuple

In [17]:
#Convert the tuple into a list to be able to change it:
x = ("apple", "banana", "cherry")
y = list(x)
print(y)
y[1] = "kiwi"
print(y)
x = tuple(y)

print(x)

['apple', 'banana', 'cherry']
['apple', 'kiwi', 'cherry']
('apple', 'kiwi', 'cherry')

In [23]:
#Convert the tuple into a list, add "orange", and convert it back into a tuple
thistuple = ("apple", "banana", "cherry")
print(thistuple)
y = list(thistuple)
y.append("orange")
print(y)
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry')
['apple', 'banana', 'cherry', 'orange']
('apple', 'banana', 'cherry', 'orange')

In [3]:
#Create a new tuple with the value "orange", and add that tuple:
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y

print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [24]:
#Convert the tuple into a list, remove "apple", and convert it back into a tuple:
thistuple = ("apple", "banana", "cherry")
print(thistuple)
y = list(thistuple)
y.remove("apple")
print(y)
thistuple = tuple(y)
print(thistuple)

('apple', 'banana', 'cherry')
['banana', 'cherry']
('banana', 'cherry')

In [5]:
#The del keyword can delete the tuple completely:
thistuple = ("apple", "banana", "cherry")
del thistuple
print(thistuple) #this will raise an error because the tuple no longer exists

NameError: name 'thistuple' is not defined

In [6]:
#Packing a tuple:
fruits = ("apple", "banana", "cherry")

In [25]:
#unpacking
fruits = ("apple", "banana", "cherry")

(green, yellow, red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
cherry

In [26]:
#Assign the rest of the values as a list called "red":
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")

(green, yellow, *red) = fruits

print(green)
print(yellow)
print(red)

apple
banana
['cherry', 'strawberry', 'raspberry']

In [29]:
#Add a list of values the "tropic" variable
fruits = ("apple", "mango", "papaya","cherry")

(green, *tropic, red) = fruits

print(green)
print(tropic)
print(red)

apple
['mango', 'papaya']
cherry

In [8]:
#Iterate through the items and print the values:
thistuple = ("apple", "banana", "cherry")
for x in thistuple:
  print(x)

apple
banana
cherry

In [18]:
#Print all items by referring to their index number:
thistuple = ("apple", "banana", "cherry")
for i in range(len(thistuple)): #[0:3]
  print(thistuple[i])

apple
banana
cherry

In [31]:
#Print all items, using a while loop to go through all the index numbers:
thistuple = ("apple", "banana", "cherry", "asif")
i = 0
while i < 3:#[0:3]
  print(thistuple[i])
  i = i + 1

apple
banana
cherry

In [32]:
#To join two or more tuples you can use the + operator:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple2 + tuple1
print(tuple3)

(1, 2, 3, 'a', 'b', 'c')

In [37]:
#If you want to multiply the content of a tuple a given number of times, you can use the * operator:
fruits = ("apple", "banana", "cherry")
mytuple = fruits * -2

print(mytuple)

()